{% if currentUser.can('deeplTranslateContent') %}
    <fieldset>
        <div class="heading">
            <label class="h6">
                DeepL Translator
            </label>
        </div>
        <div class="meta">
            {% set existingSites = create('craft\\helpers\\ElementHelper').siteStatusesForElement(element)|keys %}
            {% if existingSites|length > 1 %}
                <div class="field">
                    Translate this (and replace content) from
                </div>
                {% for siteId in existingSites %}
                    {% if siteId in existingSites and element.siteId != siteId %}
                        {% set site = craft.app.sites.getSiteById(siteId) %}
                        <div class="field">
                            <a class="btn"
                               href="{{ actionUrl('deepl-translator/sidebar/translate', {
                                   'elementId': element.id,
                                   'sourceSiteId': site.id,
                                   'targetSiteId': element.siteId
                               }) }}">
                                {{ site.name }} ({{ site.locale }})
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <div class="field">
                    This entry has no linked entries in other sites.
                </div>
            {% endif %}
        </div>
    </fieldset>
{% endif %}
